<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <title>DJ Music System</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="title-container">
    <img src="{{ url_for('static', filename='images/vynil.png') }}" alt="Vinil">
    <h1>DJ Music System</h1>
    </div>

    <h2>Registro</h2>
    <form id="registerForm">
        <input type="email" id="registerEmail" placeholder="Email" required />
        <input type="password" id="registerPassword" placeholder="Senha" required />
        <button type="submit">Registrar</button>
        <p id="registerError" class="error-message"></p>
    </form>

    <h2>Login</h2>
    <form id="loginForm">
        <input type="email" id="loginEmail" placeholder="Email" required />
        <input type="password" id="loginPassword" placeholder="Senha" required />
        <button type="submit">Login</button>
        <p id="loginError" class="error-message"></p>
    </form>

    <h2>Lista de músicas</h2>
    <button id="getMusicasBtn">Obter Músicas</button>
    <ul id="musicasList"></ul>
    <p id="musicasError" class="error-message"></p>

    <script>
        
        function displayErrorMessage(elementId, message) {
            const errorElement = document.getElementById(elementId);
            errorElement.textContent = message;
            setTimeout(() => {
                errorElement.textContent = '';
            }, 2000);
        }

        document.getElementById('registerForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            const email = document.getElementById('registerEmail').value;
            const password = document.getElementById('registerPassword').value;
            const response = await fetch('/register', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ email, password })
            });
            const data = await response.json();
            if (response.ok) {
                alert('Usuário registrado com sucesso!');
                document.getElementById('registerForm').reset();
            } else {
                displayErrorMessage('registerError', data.message || 'Erro ao registrar usuário');
            }
        });

        document.getElementById('loginForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            const email = document.getElementById('loginEmail').value;
            const password = document.getElementById('loginPassword').value;
            const response = await fetch('/login', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ email, password })
            });
            const data = await response.json();
            if (response.ok) {
                localStorage.setItem('token', data.token);
                alert('Login realizado com sucesso!');
                document.getElementById('loginForm').reset();
            } else {
                displayErrorMessage('loginError', data.message || 'Credenciais inválidas');
            }
        });

        let musicasVisiveis = false;
        document.getElementById('getMusicasBtn').addEventListener('click', async () => {
            const token = localStorage.getItem('token');
            if (!token) {
                alert('Por favor, faça login primeiro!');
                return;
            }
            try {
                const response = await fetch('/musicas', {
                    method: 'GET',
                    headers: {
                        'Authorization': `Bearer ${token}`
                    }
                });
                const musicas = await response.json();
                if (response.ok) {
                    const musicasList = document.getElementById('musicasList');
                    if (musicasVisiveis) {
                        musicasList.innerHTML = '';
                    } else {
                        musicasList.innerHTML = '';
                        musicas.forEach(musica => {
                            const li = document.createElement('li');
                            li.textContent = `${musica.titulo} - ${musica.artista}`;
                            musicasList.appendChild(li);
                        });
                    }
                    musicasVisiveis = !musicasVisiveis;
                } else {
                    displayErrorMessage('musicasError', musicas.message || 'Erro ao obter músicas: Faça login');
                }
            } catch (error) {
                console.error("Erro ao buscar músicas:", error);
                alert('Erro ao buscar músicas. Verifique o console para mais detalhes.');
            }
        });
    </script>
</body>
</html>
